body{
  background: #353866;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.action-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 9999px;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.backdrop::before {
  content: "";
  position: absolute;
  height: 115rem;
  width: 115rem;
  border-radius: 9999px;
  background: #ED6B06;
}
.backdrop::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px);
  border-radius: 9999px;
  z-index: 1;
}

.action {
  --sz-light-hover: 60px;
  --rd-light-hover: 9999px;
  --l-light-hover: 14px;
  --cl-light: #0000;
  --cr-light: #ED6B06;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform,
    color,
    background-color,
    300ms ease;
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  color: #444444;
  background: none transparent;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 9999px;
}

.action-icon {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 0.5rem;
  border-radius: 9999px;
  background-color: #f1f1f1;
  transition:
    transform,
    color,
    background,
    300ms ease;
}

.action-content {
  --sz-light-hover: 100px;
  --rd-light-hover: 6px;
  --l-light-hover: 0px;
  --cl-light: #fff;
  --cr-light:#ED6B06;
  transition:
    transform,
    400ms ease;
  opacity: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: inherit;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: max-content;
  height: 1.75rem;
  padding: 8px 1px;
  position: absolute;
  left: 0;
  z-index: -1;
  border: 1px solid #ccc;
}

.action-content::before {
  content: attr(data-content);
  transition:
    transform,
    300ms ease;
  text-transform: capitalize;
  font-size: medium;
  font-weight: 600;
  z-index: 1;
  transform: translateX(-100%);
  background-color: #fff;
  border-radius: calc(var(--rd-light-hover) - 2px);
  padding-inline: 4px;
}

.action::after,
.action-content::after {
  content: "";
  opacity: 0;
  position: absolute;
  border-radius: var(--rd-light-hover);
  transition: all 50ms ease 200ms;
  background: conic-gradient(
    from 45deg at 50% 50%,
    var(--cl-light),
    var(--cr-light),
    var(--cl-light),
    var(--cl-light),
    var(--cl-light),
    var(--cr-light),
    var(--cl-light),
    var(--cl-light),
    var(--cl-light)
  );
}

.action:hover .action-icon {
  color: #000;
  background-color: #fff;
  transform: scale(1.4) translate3d(12px, 0px, 12px);
}

.action:hover::after,
.action-content::after {
  height: var(--sz-light-hover);
  width: var(--sz-light-hover);
  left: var(--l-light-hover);
  opacity: 1;
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

.action:hover .action-content {
  color: #000;
  background-color: #fff;
  opacity: 1;
  width: max-content;
  left: calc(100% + 24px);
  z-index: 9;
}

.action:hover .action-content::before {
  transform: translateX(0px);
}


/* Diseño de titulo */

#titulo-areas {
    color: white;
    font-size: 2.5em;
    padding-top: 15px;
    padding-left: 440px;
    padding-right: 250px;
    text-align: center;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Diseño del boton */

.box {
  width: 160px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  margin: 0 5px;
  background: white;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #ED6B06;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #ED6B06;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

/* Diseño de la Tabla */

#tabla {
  margin-left: 50px;
  background: white;
}

#tabla tr {
  background: #A6A6A6;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

#tabla tbody {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
}

#tabla td {
  padding: 15px;
}


/* Diseño del buscador */

.search-panels-filtro {
  --default-color: #9e9e9e;
  --color-text: white;
  --color-active: #ED6B06;
  --color-active-input: #f5f5f5;
  --transition: 1000ms cubic-bezier(0.4,0,0.2,1);
  --width-input: 400px;
  --height-input: 50px;
}

.search-panels-filtro .search-group {
  position: relative;
}

.input {
  width: var(--width-input);
  height: var(--height-input);
  border: solid 1.5px var(--default-color);
  border-radius: 80px;
  background: none;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 1rem;
  color: var(--color-active-input);
  transition: border var(--transition);
}

.enter-label {
  position: absolute;
  left: 20px;
  color: var(--default-color);
  pointer-events: none;
  transform: translateY(0.7rem);
  transition: var(--transition);
}

.enter-label {
  color: var(--default-color);
  pointer-events: none;
}

.input:focus, input:valid {
  outline: none;
  border: 1.5px solid var(--color-active);
}

.input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--color-active);
  border-radius: 20px;
  padding: .2em .6em;
  color: var(--color-text);
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1em;
  right: 80%;
  border-radius: 100%;
  transition: 300ms cubic-bezier(0.4,0,0.2,1);
  transition-delay: 100ms;
  opacity: 0;
}

.input:focus ~ .btn-box, input:valid ~ .btn-box {
  right: 10%;
  opacity: 1;
  transition-delay: 0s;
  transition: var(--transition);
}

.input:not(:focus) ~ .btn-box, input:not(:valid) ~ .btn-box {
  transition-property: right, opacity;
  transition-delay: 300ms;
}

.input:focus ~ .btn-box:hover, input:valid ~ .btn-box:hover {
  transform: scale(1.2);
}

.input:focus ~ .btn-box:hover:active, input:valid ~ .btn-box:hover:active {
  transform: scale(1);
}

.btn-search {
  position: relative;
  cursor: pointer;
  background-color: var(--color-active);
  width: 2em;
  height: 2em;
  top: 2.5px;
  border: none;
  border-radius: 100%;
  padding: 0;
  transition: var(--transition);
}

.btn-search:active {
  transform: scale(1);
}

.btn-search svg {
  position: absolute;
  top: 25%;
  left: 25%;
  fill: var(--color-text);
  width: 12px;
  height: 12px;
}

#svg-circle {
  fill: var(--color-text);
  transition: var(--transition);
}

.input:focus ~ .btn-box:hover #svg-circle, input:valid ~ .btn-box:hover #svg-circle {
  fill: transparent;
}

.btn-box-x {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1em;
  right: 7%;
  opacity: 0;
  transform: rotate(-90deg) scale(.1);
  transition: var(--transition);
}

.input:focus ~ .btn-box-x, input:valid ~ .btn-box-x {
  opacity: 1;
  transform: rotate(0) scale(1);
}

.btn-cleare {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 100%;
  padding: 0;
  transition: var(--transition);
}

.btn-cleare svg {
  width: 15px;
  height: 15px;
}

#cleare-line {
  fill: var(--default-color);
}

.btn-box-x:hover #cleare-line {
  fill: var(--color-active);
}

/* Diseño del Modal */

#modal {
  background-color: rgba(128, 128, 128, 0.5);
}

#modal div {
  background: white;
  width: 400px;
  height: 450px;
  border-radius: 20px;
}

/* Diseño modal - boton cerrar */

#modal div .x {
  width: 100%;
  height: 10%;
}

.BotonCerrar {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 3px;
  border: #ED6B06 solid 0.15em;
  border-radius: 0.25em;
  color: #ED6B06;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.BotonCerrar p {
  z-index: 1;
}

.BotonCerrar:hover {
  color: white;
  background: #ED6B06;
  transition: 1s;
}

.BotonCerrar:active {
  border-color: #ED6B06;
}

.BotonCerrar::before {
  left: 0;
  transform: translateX(-8em);
}

.BotonCerrar::after {
  right: 0;
  transform: translateX(8em);
}

.BotonCerrar:hover:before {
  transform: translateX(-1em);
}

.BotonCerrar:hover:after {
  transform: translateX(1em);
}

.BotonCerrar:active:before,
.BotonCerrar:active:after {
  background: #ED6B06;
}

/* Diseño modal - titulo */

#modal div .Registrar {
  margin-top: 10px;
  width: 100%;
  height: 10%;
}

#modal div .Registrar h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Diseño modal - inputs */
#modal div .Inputs {
  width: 100%;
  height: 65%;
  padding-top: 10px;
  padding-left: 20px;
  overflow: hidden;
}

.Inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.InputRegistro1 {
  width: 100px;
  border: solid 1.5px #353866;
  border-radius: 1rem;
  background: none;
  padding: .5rem;
  font-size: 1rem;
  color: #353866;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.LabelRegistro1 {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #353866;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input-container:has(.InputRegistro1:focus) .LabelRegistro1,
.input-container:has(.InputRegistro1:valid) .LabelRegistro1 {
  top: 0;
  transform: translateY(-50%) scale(0.8);
  padding: 0 .5em;
  color: #353866;
  background: white;
  border-radius: 20px;
  border: 1px solid #353866;
}

.InputRegistro2 {
  width: 300px;
  border: solid 1.5px #353866;
  border-radius: 1rem;
  background: none;
  padding: .5rem;
  font-size: 1rem;
  color: #353866;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.LabelRegistro2 {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #353866;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input-container:has(.InputRegistro2:focus) .LabelRegistro2,
.input-container:has(.InputRegistro2:valid) .LabelRegistro2 {
  top: 0;
  transform: translateY(-50%) scale(0.8);
  padding: 0 .5em;
  color: #353866;
  background: white;
  border-radius: 20px;
  border: 1px solid #353866;
}

.InputRegistro3 {
  width: 300px;
  border: solid 1.5px #353866;
  border-radius: 1rem;
  background: none;
  padding: .5rem;
  font-size: 1rem;
  color: #353866;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.LabelRegistro3 {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #353866;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input-container:has(.InputRegistro3:focus) .LabelRegistro3,
.input-container:has(.InputRegistro3:valid) .LabelRegistro3 {
  top: 0;
  transform: translateY(-50%) scale(0.8);
  padding: 0 .5em;
  color: #353866;
  background: white;
  border-radius: 20px;
  border: 1px solid #353866;
}

.InputRegistro4 {
  width: 300px;
  border: solid 1.5px #353866;
  border-radius: 1rem;
  background: none;
  padding: .5rem;
  font-size: 1rem;
  color: #353866;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.LabelRegistro4 {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #353866;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input-container:has(.InputRegistro4:focus) .LabelRegistro4,
.input-container:has(.InputRegistro4:valid) .LabelRegistro4 {
  top: 0;
  transform: translateY(-50%) scale(0.8);
  padding: 0 .5em;
  color: #353866;
  background: white;
  border-radius: 20px;
  border: 1px solid #353866;
}

.InputRegistro1:focus, .InputRegistro1:valid,
.InputRegistro2:focus, .InputRegistro2:valid,
.InputRegistro3:focus, .InputRegistro3:valid,
.InputRegistro4:focus, .InputRegistro4:valid {
  outline: none;
  border: 1.5px solid #353866;
}

/* Diseño modal - boton guardar registro */

#modal div .BotonRegistro {
  margin-top: 10px;
  width: 100%;
  height: 10%;
}

.BotonRegistro a {
  position: relative;
  display: inline-block;
  padding: 5px 5px;
  border: 2px solid #ED6B06;
  text-transform: uppercase;
  color: #ED6B06;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.BotonRegistro a::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: white;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.BotonRegistro a:hover::before {
  transform: scaleY(0);
}

.BotonRegistro a::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: white;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.BotonRegistro a:hover::after {
  transform: scaleX(0);
}

.BotonRegistro a span {
  position: relative;
  z-index: 3;
}

.BotonRegistro button {
  background-color: none;
  text-decoration: none;
  background-color: white;
  border: none;
}

/* Diseño del boton de editar */

.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 110px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #ED6B06;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: 1s;
}

.Btn:hover {
  color: transparent;
  transition-duration: 1s;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 1s;
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: 1s;
  box-shadow: 2px 2px 0px #ED6B06;
}

/* Diseño del option */

fieldset {
  border: 0;
  height: 40px;
  padding-left: 10px;
}

.radio input[type="radio"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.radio label {
  cursor: pointer;
  border-radius: 20px;
  color: #2196F3;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 35px;
}

.radio label, .radio label::before {
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

.radio label::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: " ";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
}

.radio input[type="radio"] + label::before {
  border-radius: 1em;
}

.radio input[type="radio"]:checked + label {
  color: #fff;
  background: #A6A6A6;
  z-index: 1;
}

.radio input[type="radio"]:checked + label::before {
  width: 100%;
  height: 2em;
  z-index: -1;
}